body{

font-family:Arial;
margin:0;

background-image:url("./Pictures/background.png");
background-size:cover;
background-attachment:fixed;

position:relative;
z-index:0;

}

.header{

background:#083b4c;
color:white;
padding:15px;
display:flex;
align-items:center;

}

.logo{

width:70px;
margin-right:20px;

}

.container{
position:relative;
z-index:5;
}

.left-panel{

width:60%;
background:#e6f2ff;
padding:25px;
border-radius:10px;

}

.right-panel{

width:40%;

}

.core-preview-box{

background:#e6f2ff;
border-radius:10px;
padding:20px;
text-align:center;
position:sticky;
top:20px;

}

.core-preview{

width:280px;

}

input{

width:170px;
margin-bottom:10px;
display:block;

}

select{

margin-bottom:10px;

}

button{

background:#1b75bb;
color:white;
border:none;
padding:8px 14px;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#155c94;

}

.core-buttons{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-bottom:15px;

}

.core-buttons button{

background:#eef6ff;
border:1px solid #b8cde6;
border-radius:8px;
padding:12px;
cursor:pointer;
text-align:center;
transition:0.2s;

}

.core-buttons button:hover{

background:#d7e9ff;
transform:scale(1.05);

}

.core-buttons img{

width:70px;
display:block;
margin:auto;

}

.core-buttons span{

display:block;
margin-top:6px;
font-weight:bold;

}

hr{

margin:20px 0;

}
.selected-core{

background:#b9dbff !important;
border:2px solid #1b75bb !important;

}