body{

font-family:Arial;
margin:0;
background:url("./Pictures/background.png");
background-size:cover;
background-attachment:fixed;

}

.header{

display:flex;
align-items:center;
background:#002c45;
color:white;
padding:15px;

}

.logo{

height:70px;
margin-right:20px;

}

.container{

display:flex;
padding:40px;

}

.left-panel{

width:60%;
background:white;
padding:25px;
border-radius:8px;
box-shadow:0px 4px 10px rgba(0,0,0,0.2);

}

.right-panel{

width:40%;
padding-left:40px;

}

.core-preview{

width:260px;
margin-top:20px;
border-radius:8px;
box-shadow:0px 4px 10px rgba(0,0,0,0.3);

}

input,select{

padding:6px;
margin:6px;

}

button{

padding:10px;
background:#0077cc;
color:white;
border:none;
cursor:pointer;
border-radius:4px;

}

button:hover{

background:#005fa3;

}