body{

font-family:Arial;
margin:0;
background-image:url("./Pictures/background.png");
background-size:cover;

}

.header{

background:#083b4c;
color:white;
padding:15px;
display:flex;
align-items:center;

}

.logo{

width:60px;
margin-right:20px;

}

.container{

display:flex;
gap:40px;
padding:20px;

}

.left-panel{

width:60%;
background:#e6f2ff;
padding:20px;
border-radius:10px;

}

.right-panel{

width:40%;

}

.core-preview-box{

background:#e6f2ff;
padding:20px;
border-radius:10px;
text-align:center;

}

.core-preview{

width:220px;

}

input{

width:150px;
margin-bottom:10px;
display:block;

}

select{

margin-bottom:10px;

}

button{

background:#1b75bb;
color:white;
border:none;
padding:8px 14px;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#155c94;

}

.core-buttons{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin-bottom:10px;

}

.core-buttons button{

background:#eef6ff;
color:black;
border:1px solid #ccc;
padding:6px;

}

.core-buttons img{

width:40px;
display:block;
margin:auto;

}

hr{

margin:20px 0;

}